<div class="container-lg">
  <div class="card mb-4">
    <div class="card-header">
      <strong>Editar Empresa</strong>
    </div>
    <div class="card-body">
      <%= render 'form', company: @company %>
    </div>
  </div>
</div> 