<div class="container-fluid">
  <div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-white border-0 py-3">
      <h4 class="card-title mb-0">Nova Empresa</h4>
    </div>
    <div class="card-body">
      <%= render 'form', company: @company, url: admin_companies_path, method: :post %>
    </div>
  </div>
</div>
