<div class="container-lg">
  <div class="card mb-4">
    <div class="card-header">
      <strong>Editar Loja</strong>
    </div>
    <div class="card-body">
      <%= render 'form', store: @store %>
    </div>
  </div>
</div> 