<!-- Sidebar responsiva com largura aumentada -->
<div class="sidebar-nav-wrapper">
  <div class="sidebar-nav-main">
    <ul class="sidebar-nav">
      <% if current_user.admin %>
        <li class="nav-title">Administração</li>
        <li class="nav-item">
          <%= link_to admin_companies_path, class: "nav-link border-start border-4 border-warning ps-3" do %>
            <i class="nav-icon cil-arrow-left"></i> Área Admin
          <% end %>
        </li>
      <% end %>
      
      <li class="nav-title">Gestão</li>
        <%= link_to company_area_stores_path, class: "nav-link #{'active' if controller_name == 'stores'}" do %>
          <i class="nav-icon cil-building"></i> Lojas
        <% end %>
        <%= link_to company_area_users_path, class: "nav-link #{'active' if controller_name == 'users'}" do %>
          <i class="nav-icon cil-people"></i> Usuários
        <% end %>
      </li>
    </ul>
  </div>

  <div class="sidebar-nav-bottom">
    <ul class="sidebar-nav">
      <li class="nav-title">Sistema</li>

      <li class="nav-item">
        <%= button_to destroy_user_session_path, method: :delete, class: "nav-link text-danger border-0 w-100 text-start bg-transparent" do %>
          <i class="nav-icon cil-account-logout"></i> Sair
        <% end %>
      </li>
    </ul>
  </div>
</div>