<!-- Sidebar responsiva com largura aumentada -->
<nav id="sidebar" class="sidebar sidebar-dark bg-dark collapse d-lg-block" style="width: 300px;">
  <div class="sidebar-brand d-flex align-items-center justify-content-center p-3">
    <span class="fs-4 text-white">WashDash</span>
  </div>
  <ul class="nav flex-column">
    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="cil-speedometer me-2"></i> Dashboard
      </a>
    </li>
    <!-- Usuários -->
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="cil-user me-2"></i> Usuários
      </a>
    </li>
    <!-- Empresas -->
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="cil-user me-2"></i> Empresas
      </a>
    </li>
    <!-- Configurações -->
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="cil-user me-2"></i> Configurações
      </a>
    </li>
    <!-- Sair -->
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="cil-account-logout me-2"></i> Sair
      </a>
    </li>
  </ul>
</nav>