<div class="container-fluid">
  <div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-white border-0 py-3">
      <h4 class="card-title mb-0">Editar Loja</h4>
    </div>

    <div class="card-body">
      <%= render 'form', store: @store %>
    </div>
  </div>
</div>
