  <!-- Sidenav conforme demonstração do CoreUI -->
  <div class="sidebar sidebar-light sidebar-fixed" id="sidebar">
    <div class="sidebar-brand d-none d-md-flex">
      <svg class="sidebar-brand-full" width="118" height="46">
        <use xlink:href="https://coreui.io/demos/bootstrap/5.1/free/assets/brand/coreui.svg#full"></use>
      </svg>
      <svg class="sidebar-brand-narrow" width="46" height="46">
        <use xlink:href="https://coreui.io/demos/bootstrap/5.1/free/assets/brand/coreui.svg#signet"></use>
      </svg>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cil-speedometer"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cil-user"></i> Usuários
        </a>
      </li>
      <li class="nav-group">
        <a class="nav-link nav-group-toggle" href="#">
          <i class="nav-icon cil-building"></i> Empresas
        </a>
        <ul class="nav-group-items">
          <li class="nav-item">
            <a class="nav-link" href="#">Lista de Empresas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Adicionar Empresa</a>
          </li>
        </ul>
      </li>
      <li class="nav-group">
        <a class="nav-link nav-group-toggle" href="#">
          <i class="nav-icon cil-settings"></i> Configuração
        </a>
        <ul class="nav-group-items">
          <li class="nav-item">
            <a class="nav-link" href="#">Preferências</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Segurança</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon cil-account-logout"></i> Sair
        </a>
      </li>
    </ul>
  </div>
