<div class="container-fluid">
  <div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-white border-0 py-3">
      <h4 class="card-title mb-0">Editar Usuário</h4>
    </div>
    <div class="card-body">
      <%= render 'form', user: @user, url: admin_user_path(@user), method: :put %>
    </div>
  </div>
</div>
