
<!-- Navbar em Light Mode (correta) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Botão para exibir a sidebar em telas menores -->
    <button class="btn btn-light d-lg-none me-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
      <i class="cil-menu"></i>
    </button>
    <a class="navbar-brand" href="#">WashDash</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>