<!DOCTYPE html>
<html lang="pt-BR">
  <%= render 'layouts/partials/head'%>
  <body class="d-flex">
    <div class="flex-grow-1 d-flex flex-column min-vh-100">
      <%= render 'layouts/partials/navbar'%>
      <!-- Conteúdo Principal que preenche 100% do espaço restante -->
      <main class="flex-grow-1 p-0">
        <div class="container-fluid h-100 d-flex flex-column">
          <div class="row flex-grow-1">
            <%= yield%>
          </div>
        </div>
      </main>
      <%= render 'layouts/partials/footer' %>
    </div>
    <!-- Bootstrap Bundle com Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CoreUI for Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@coreui/bootstrap@5.2.1/dist/js/coreui.bundle.min.js"></script>
  </body>
</html>
