<!DOCTYPE html>
<html lang="pt-BR">
  <%= render 'layouts/partials/head', title: 'WashDash' %>
  <body class="d-flex">
    <div class="flex-grow-1 d-flex flex-column min-vh-100">
      <%= render 'layouts/partials/navbar'%>
      <!-- Conteúdo Principal que preenche 100% do espaço restante -->
      <main class="flex-grow-1 p-0">
        <div class="container-fluid h-100 d-flex flex-column">
          <div class="row flex-grow-1">
            <%= yield%>
          </div>
        </div>
      </main>
      <%= render 'layouts/partials/footer' %>
    </div>
  </body>
</html>
